body {
    background: black;
    margin: 0;
    color: whitesmoke;
    font-family: 'Varela Round';
}

header a {
    font-size: 20pt;
    padding: 15px;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/assets/img/game/bt-bg.png');
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-repeat: repeat-x;
    background-size: cover;
    text-align: center;
}

.header-content {
    padding-top: 140px;
}

h1 {
    font-size: 40pt;
    color: red;
    font-family: 'Press Start 2P';
}

header img {
    height: 200px;
}