.leaderboardContainer {
  text-align: left;
  display: block;
  margin: auto;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: whitesmoke;
  padding: 8px;
  font-size: 17pt;
  border: 3px solid #c60c30;
  height: fit-content;
  /* width: 100vw; */
}

.teamScore {
  font-family: 'Press Start 2P';
  font-size: 30pt;
  width: 100vw;
  position: fixed;
  right: 0;
  top: 30px;
  text-align: center;
  padding: 20px;
}

.redScore {
  color: lightcoral;
  font-family: 'Press Start 2P';
}

.blueScore {
  color: lightblue;
  font-family: 'Press Start 2P';
}

.countdown {
  position: fixed;
  top: 0;
  left: 20px;
  background-color: transparent;
  color: whitesmoke;
  background: black;
  padding: 10px;
  border: 3px solid #c60c30;
  font-size: 20pt;
  height: 4vh;
  z-index: 999999;
  font-family: 'Press Start 2P';
}

.leaderboardContainer tr, .leaderboardContainer th {
  padding: 5px;
}

.mobileCountdown tr, .mobileCountdown th {
  padding: 5px;
}

.playerData {
  text-align: center;
}

.leaderboardContainer table {
  width: 100%;
  text-align: center;
}

.selfbar {
  position: fixed;
  top: 30px;
  left: 30px; 
  width: 300px;
  height: 50px;
}

.chatlog {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 5vh;
  left: 0;
  top: 55%;
  font-size: 15pt;
  display: none;
  z-index: 99999999;
}

.CTCboard{
  text-align: center;
  display: block;
  margin: auto;
  position: fixed;
  top: 20px;   
  left: 50%;
  font-size: 30px;
  background: black;
  color: whitesmoke;
  border: 3px solid red;
  padding: 16px;
}