.leaderboardContainer {
  text-align: left;
  display: block;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  font-size: 20pt;
  width: 100vw;
}

@media only screen and (max-width: 1000px) {
  .leaderboardContainer {
    border-bottom: 3px solid var(--primary_color);
    width: 100vw;
    max-height: 40px;
    padding: 6px;
  }
}

.countdown {
  position: fixed;
  bottom: 0;
  left: 20px;
  background-color: transparent;
  color: whitesmoke;
  font-size: 20pt;
  height: 4vh;
  z-index: 999999;
  font-family: 'Press Start 2P';
}

@media only screen and (min-width:1000px) {
  .leaderboardContainer {
    border-top: 3px solid var(--primary_color);
    height: 8vh;
    min-width: 30%;
  }
}

.leaderboardContainer tr, .leaderboardContainer th {
  padding: 5px;
}

.mobileCountdown tr, .mobileCountdown th {
  padding: 5px;
}

.playerData {
  text-align: center;
}

.leaderboardContainer table {
  width: 100%;
  text-align: center;
}

.chatlog {
  text-align: center;
  position: fixed;
  width: 10vw;
  height: 5vh;
  bottom: 20px;
  right: 0;
  font-size: 15pt;

  background: black;

  display: none;
  
  z-index: 99999999;
  display: block;
}

.CTCboard{
  text-align: center;
  display: block;
  margin: auto;
  position: fixed;
  top: 20px;   
  left: 50%;
  font-size: 30px;
  background: black;
  color: whitesmoke;
  border: 3px solid red;
  padding: 16px;
}